# Dependencies
node_modules/

# Environment files
.env
.env.*
assets/.env.local

# Database Configuration (Keeps your Supabase keys private)
assets/js/config/config.js

# Logs and OS files
*.log
.DS_Store
Thumbs.db

# Keys and secrets
keys/

# Database Schema and Internal Docs
docs/*
!docs/admin_frontend.md
!docs/teacher_frontend.md
!docs/student_frontend.md
